<% layout('/layouts/boilerplate') %>
   <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card shadow">
                <div class="card-body ">
                    <h1 class="text-center mb-5">New Campground</h1>
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                </div>
                <div class="mb-3">
                    <label for="">Uplaod Images</label>
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>
                    
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" name="campground[image]" id="image" required>
                </div> -->
                <div class="mb-3">
                    <label for="">Price</label>
                    <!-- <input type="file" class="form-file-input" id="image" name="image" multiple> -->
                    <div class="input-group">
                        <span class="input-group-text" id="price-lablel">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-lablel" name="campground[price]" required>
                      </div>
                      
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="descripton">Descripton</label>
                    <textarea class="form-control" type="text" name="campground[descripton]" id="description" required></textarea>
                </div> -->
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
                
            </form>
            <a href="/campgrounds">All campgrounds</a>
        </div>
    </div>
    </div>
   </div>
 
